<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>13.0</string>
    <key>CFBundleDisplayName</key>
    <string>RedCorners.Forms.ZXing.Demo</string>
    <key>CFBundleIdentifier</key>
    <string>com.companyname.RedCorners.Forms.ZXing.Demo</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
    <key>CFBundleVersion</key>
    <string>10000</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleName</key>
    <string>RedCorners.Forms.ZXing.Demo</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs access to the bluetooth peripheral to improve the user experience.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to photos for uploading images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos for uploading images.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone for capturing videos.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to the contacts to continue.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to the calendar to continue.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to the music to continue.</string>
	<key>NSSiriUsageDescription</key>
	<string>This app needs access to Siri to continue.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs to be able to access your motion use.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location to continue.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location to continue.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location to continue.</string>
</dict>
</plist>
